# Distribution is generated
./dist/*.js linguist-generated=true

# Enforce Unix newlines
* text=auto eol=lf

# Don't diff or textually merge source maps
*.map binary

# Remove config files
*.config.js linguist-detectable=false

# Remove babel files
.babelrc.* linguist-detectable=false

# Ignore some test files
*.bundle.js linguist-generated=true
./tests/ linguist-detectable=false
