# Distribution is generated
dist/**/* linguist-generated=true

# Enforce Unix newlines
* text=auto eol=lf

# Don't diff or textually merge source maps
*.map binary

# Don't diff dist files
dist/**/*.{js,cjs} binary
docs/compiled binary
docs/css binary
docs/docs binary

# Remove config files
*.config.js linguist-detectable=false

# Ignore some test files
test/**/* linguist-detectable=false
docs/**/* linguist-documentation=true
