@keyframes calc-hover {
  from {
    background-color: $primary;
  }

  to {
    background-color: mix($primary, white, 70%);
  }
}

@keyframes calc-hover-equals {
  from {
    background-color: $info;
  }

  to {
    background-color: mix($info, white, 70%);
  }
}

@keyframes calc-hover-clear {
  from {
    background-color: $danger;
  }

  to {
    background-color: mix($danger, white, 70%);
  }
}
