@import "bootstrap";
@import "animations";

body {
  overflow-x: hidden;
  background-color: $dark;
  color: $light;
}

html {
  scroll-behavior: smooth;
}

#calculator {
  .calc-display {
    background-color: $secondary;
    height: 7.5rem;
    width: 100%;
    padding: 2.5rem;
    font-size: 2rem;
    text-align: right;
  }

  .calc-btns {
    margin: 0;

    .calc-btn {
      padding: 1rem;
      cursor: pointer;
      background-color: $primary;
      text-align: center;

      &:hover {
        animation: calc-hover 0.5s ease forwards;
      }

      &.equals {
        background-color: $info;

        &:hover {
          animation: calc-hover-equals 0.5s ease forwards;
        }
      }

      &.clear {
        background-color: $danger;

        &:hover {
          animation: calc-hover-clear 0.5s ease forwards;
        }
      }
    }
  }
}

#nested {
  .row {
    border-bottom: solid 0.25rem $dark;
    width: 30vw;
    height: 10vw;

    &:nth-child(3) {
      border-bottom: none;
    }

    .col-4 {
      border-right: solid 0.25rem $dark;
      cursor: pointer;
      background-color: $light;
      color: $dark;
      transition: background-color 0.2s ease;

      .tictactoe-square {
        text-align: center;
        font-size: 6vw;
      }

      &:nth-child(3) {
        border-right: none;
      }

      &:hover {
        background-color: mix($light, $dark, 70%);
      }
    }
  }
}
